* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 6.25%;
  font-family: Mulish, sans-serif;

  --hue-dark: 240;
  --hue-light: 0;

  --nav-item: hsl(var(--hue-dark), 6%, 58%);
  --nav-item-selected: hsl(var(--hue-dark), 6%, 13%);
  --search-bar-placeholder: hsl(var(--hue-light), 0%, 24%);
  --title: hsl(var(--hue-dark), 6%, 13%);
  --tag: hsl(var(--hue-dark), 6%, 13%);
  --footer: hsl(var(--hue-dark), 7%, 21%);

  --header-background: hsl(var(--hue-light), 0%, 100%);
  --main-background: hsl(var(--hue-light), 0%, 96%);
  --footer-background: hsl(var(--hue-light), 0%, 100%);
  --card-background: hsl(var(--hue-light), 0%, 100%);
  --tag-background: hsl(var(--hue-light), 0%, 96%);
  --search-bar-background: hsl(var(--hue-light), 0%, 93%);
}

body {
  background-color: var(--header-background);
}

#app {
  display: grid;
  grid-template-rows: max-content 1fr max-content;

  height: 100vh;

}

.container {
  padding: 16rem 32rem;
  margin-inline: auto;

  width: min(1120rem, 100%);
}

header {
  background-color: var(--header-background);
}

header,
header nav {
  display: flex;
  align-items: center;
  gap: 74rem;
}

header nav a {
  font-size: 18rem;
  font-weight: 900;
  color: var(--nav-item);
  text-decoration: none;
  line-height: 32rem;
}

header nav a:hover,
header nav a:focus {
  color: var(--nav-item-selected);
  outline: none;
}

header form {
  flex: 1;
}

header form .input-wrapper label {
  width: 1px;
  height: 1px;

  overflow: hidden;
  position: absolute;
}

header form .input-wrapper input {
  font-family: Mulish, sans-serif;

  padding: 16rem;
  border: none;
  border-radius: 5rem;

  font-size: 16rem;
  font-weight: 700;

  background-color: var(--search-bar-background);

  width: 100%;
}

header form .input-wrapper input::placeholder {
  opacity: 0.56;
  color: var(--search-bar-placeholder);
}

header #user-icon {
  width: 42rem;
  height: 42rem;

  border-radius: 50%;

  object-fit: cover;
}

main {
  background-color: var(--main-background);

  overflow-y: scroll;
}

main h1 {
  font-size: 24rem;
  font-weight: 700;
  color: var(--title);

  margin-top: 18rem;
  margin-bottom: 36rem;
}

#gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 22rem;
  column-gap: 20rem;

  max-width: fit-content;
}

#gallery figure {
  border-radius: 8rem;

  max-width: 390rem;
  overflow: hidden;

  background-color: var(--card-background);
}

#gallery figure img {
  width: 100%;
  aspect-ratio: 16/9;

  object-fit: cover;

  /* transition-property: all;
  transition-duration: .3s;
  transition-delay: .1s;
  transition-timing-function: ease-out; */

  transition: filter .2s ease-in, transform .3s ease-out;
}

#gallery figure img:hover {
  filter: hue-rotate(10deg) contrast(105%) saturate(200%);

  transform: scale(1.1) rotate(-2deg);
}

#gallery figure figcaption {
  display: block;

  margin: 22rem;
}

#gallery figure figcaption h2 {
  font-size: 18rem;
  font-weight: 700;
  color: var(--title);
}

#gallery figure figcaption span {
  display: inline-block;

  margin-top: 12rem;
  padding: 7.5rem;
  border-radius: 6rem;

  background-color: var(--tag-background);

  font-size: 12rem;
  color: var(--tag);
  text-transform: uppercase;
}

footer {
  background-color: var(--footer-background);
}

footer p {
  font-size: 16rem;
  font-weight: 600;
  color: var(--footer);
  text-align: center;
}


/* Estilização do Scroll */

/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #fff transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 10px;
  border: 4px solid #20202493;
}

/* Animações */

header {
  --startY: -100%;
  animation: move .3s;
}

footer {
  --startY: 100%;
  animation: move .3s;
}

@keyframes move {
  from {
    transform: translateY(var(--startY));
  }
}

figure {
  --delay: .2s;
  animation: appear .4s var(--delay) backwards;
}

#gallery :nth-child(2) {
  --delay: .4s;
}

#gallery :nth-child(3) {
  --delay: .8s;
}

#gallery :nth-child(4) {
  --delay: 1s;
}

#gallery :nth-child(5) {
  --delay: 1.2s;
}

#gallery :nth-child(6) {
  --delay: 1.4s;
}

#gallery :nth-child(7) {
  --delay: 1.6s;
}

#gallery :nth-child(8) {
  --delay: 1.8s;
}

#gallery :nth-child(9) {
  --delay: 2s;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }

  50% {
    transform: scale(1.05);
  }
}